body {
  background-color: #0D6D6C;
  color:#F3FAFA;
  font-family: "Times New Roman", Times, serif;
}

input {
    color:#838687;
}

.errorlist {
  color:#C92F30;
}

a, a:hover {
  color:#F3FAFA;
}

.navbar-default {
  border-color: #B3B3B3;
  background-color: #B3B3B3;
  color: #FDFDFD;

}

/* title */
.navbar-brand {
    color: #FDFDFD;
    text-shadow: none;
}

.navbar-default .navbar-brand {
  color: #FDFDFD;
  text-shadow: none;
}

.navbar .nav>li>a {
  color: #FDFDFD;
  text-shadow: none;
}

.navbar-text {
  color: #FDFDFD;
  text-shadow: none;
  padding-left:10px;
}

.body-container {
  padding-top:60px;
  margin-top:20px;
}

.header-div {
  text-align:center;
  padding-bottom: 25px;
}

.icd-list {
  list-style-type: none;
}


#shock-button {
  horizontal-align:middle;
  margin-left:auto;
  margin-right:auto;
}

.icd_square_div {
  width:200px;
  height:200px;
  border: 2px solid;
  border-radius: 25px;
  border-color: ##B3B3B3;
  background-color: #B3B3B3;
  float:left;
  margin:5px;
  padding:10px;
}

.warning {
  background-color:#FFA4A4;
  padding:10px;
  float:left;
  margin:10px;
}

.info {
  background-color:#3B3D3D;
  padding:10px;
  float:left;
  margin:10px;
  color:white;
}

.modal {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color:#838687;
}

.modal-footer {
  color:#9FC8B6;
}

.centered {
  text-align: center;
}

.field-label {
  float:left;
  width:400px;
}

.field-value {
  float:left;
  width:auto;
}
