body {
  background-color: #F4FDFD;
}


.errorlist {
  color:#C92F30;
}

.navbar-default {
  border-color: #E7E7E7;
  background-color: #4FA8C7;
  color: #FDFDFD;

}

/* title */
.navbar-brand {
    color: #FDFDFD;
    text-shadow: none;
}

.navbar-default .navbar-brand {
  color: #FDFDFD;
  text-shadow: none;
}

.navbar .nav>li>a {
  color: #FDFDFD;
  text-shadow: none;
}

.navbar-text {
  color: #FDFDFD;
  text-shadow: none;
  padding-left:10px;
}

.body-container {
  padding-top:60px;
  margin-top:20px;
}

.header-div {
  text-align:center;
  padding-bottom: 25px;
}

.icd-list {
  list-style-type: none;
}


#shock-button {
  horizontal-align:middle;
  margin-left:auto;
  margin-right:auto;
}

.icd_square_div {
  width:200px;
  height:200px;
  border: 2px solid;
  border-radius: 25px;
  border-color: #E4EFEF;
  background-color: #E4EFEF;
  float:left;
  margin:5px;
  padding:10px;
}
