{% extends 'base.html' %}

{% block title %}FauxICD{% endblock %}

{% block body_block %}




  <div class="row">
    <div class="col-md-6">

      {% if icd %}
        <b>Name:</b> {{ icd.name }}<br />
        <b>Shock Duration:</b> {{ icd.zap_duration }} ms<br />

      {% endif %}

      <div>
        <a href="{% url 'edit_icd' id=icd.id %}" >Edit</a> | <a href="{% url 'icd_index' %}" >List All ICDs</a>
      </div>
    </div><!-- /.col-md-6 -->

    <div class="col-md-6">
      <div class="jumbotron centered">
        <div class="btn btn-danger{% if not user.is_authenticated %} disabled{% endif %}" id="shock-button">Deliver Shock</div>
      </div><!-- /.jumbotron -->
    </div><!-- /.col-md-6 -->
  </div><!--/row-->

  <script>
  $("#shock-button").click(function(){
    $.get("{% url 'deliver_shock_ajax' %}?duration={{ icd.zap_duration }}", function(data){
      results = JSON.parse(data);
      alert(results.message);
    });
  });


  </script>

{% endblock %}
