{% extends 'base.html' %}

{% block title %}FauxICD{% endblock %}

{% block body_block %}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
          <th>Name</th>
          <th>Zap Duration</th>
          <th>Keys Required</th>
          <th></th>
      </tr>

      {% if icd_list %}
        {% for this_icd in icd_list %}
        <tr>
          <td><a href="{% url 'show_icd' id=this_icd.id %}">{{ this_icd.name }}</a></td>
          <td>{{ this_icd.zap_duration }}</td>
          <td>{{ this_icd.keys_required }}</td>
          <td><a href="{% url 'edit_icd' id=this_icd.id %}">edit</a></td>
        </tr>
        {% endfor %}
      {% endif %}

    </table>

  <div><a href="{% url 'add_icd' %}" >Add ICD</a></div>
  </div><!-- /.col-md-12 -->

</div>
<!--/row-->
{% endblock %}
