{% extends 'base.html' %}

{% block title %}MedCrypt{% endblock %}

{% block body_block %}
<div class=row>
  <div class="col-md-12 header-div">
    <h1>Medcrypt FauxICD Interface</h1>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-md-6">
    <div class="icd-list-container">
      <h3>ICDs</h3>
      <ul class="icd-list">
        {% for icd in icd_list %}
          <li>- <a href="{% url 'show_icd' id=icd.id %}">{{ icd.name }}</a></li>
        {% endfor %}
      </ul>
    </div><!-- /.icd-list-container -->
  </div><!-- /.col-md-6 -->
  <div class="col-md-6">
    <div class="jumbotron">
      <h2>Deliver a Treatment</h2>
    </div>
  </div><!-- /.col-md-6 -->
</div><!-- /.row -->

{% endblock %}
