{% extends 'base.html' %}

{% block title %}MedCrypt{% endblock %}

{% block body_block %}
<div class=row>
  <div class="col-md-12 header-div">
    <h1>Medcrypt FauxICD Interface</h1>
  </div>
</div><!-- /.row -->

<div class=row>
  {% for icd in icd_list %}
    <div class="icd_square_div">
      <h3 style="text-align:center;"><a href="{% url 'show_icd' id=icd.id %}">{{ icd.name }}</a></h3>
      <p><b>Zap Duration:</b> {{ icd.zap_duration }}</p>
      <p><b>Keys Required:</b> {{ icd.keys_required }}</p>
    </div>

  {% endfor %}
</div><!-- /.row -->


{% endblock %}
