{% extends 'base.html' %}

{% block title %}MedCrypt - FauxICD | Login{% endblock %}

{% block body_block %}
<div class=row>
  <div class="col-12-md">
    <div class=row>
      <h1>Login</h1>
    </div>
            <form method="post" action=".">
              {% csrf_token %}
              <div class=row>
                <div class="field-label" style="width:200px;">Username: </div>
                <div class="field-value"><input type="text" name="username" value="" size="50" /></div>
              </div>
              <div class=row>
                <div class="field-label" style="width:200px;">Password: </div>
                <div class="field-value"><input type="password" name="password" value="" size="50" /></div>
              </div>

                    <div class="btn btn-mini"><input type="submit" value="Log in" /></div>
                    <input type="hidden" name="next" value="{{ next }}" />
                    </form>

            <p>Not  a member? <a href="{% url 'register' %}">Register</a>!</p>
  </div><!-- /.col-12-md -->


</div><!-- /.row -->

{% endblock %}
